*.bak
*.log
/.metadata/
/.recommenders/
Archive
.DS_Store
.*.swp
/.gradle/
/reports/
.to
.gradle/
/cnf/cache
/cnf/local
/cnf/release
/cnf/framework
/cnf/mvnlocal
bin/
bin_test/
target/
generated/
node_modules/
dist/
yarn-error.log